alabaster==0.7.14
Babel==2.16.0
certifi==2024.8.30
charset-normalizer==3.3.2
docutils==0.21.2
idna==3.10
imagesize==1.4.1
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.2
mdurl==0.1.2
mistune==3.0.2
myst-parser==4.0.0
packaging==24.1
Pygments==2.18.0
pyparsing==3.1.4
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinx-bootstrap-theme==0.8.1
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.8
sphinxcontrib-serializinghtml==2.0.0
typing_extensions==4.12.2
urllib3==2.2.3
